<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- https://docs.spring.io/spring-framework/docs/current/reference/html/core.html#beans-basics -->

    <!-- 配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- c3p0 数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        <property name="autoCommitOnClose" value="false"/>
        <property name="checkoutTimeout" value="2000"/>
        <property name="acquireRetryAttempts" value="2"/>
    </bean>

    <!-- Spring 整合 Mybatis -->
    <!-- SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 设置 JDBC 数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 设置 SqlSessionFactory 配置文件的位置 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- 设置包别名 -->
        <property name="typeAliasesPackage" value="com.ljh.entity"/>
        <!-- 设置映射文件的位置，这些文件将在运行时合并到 SqlSessionFactory 配置中 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!-- MapperScannerConfigurer -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定使用哪个 SqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- 设置映射程序接口文件的基本包 -->
        <property name="basePackage" value="com.ljh.dao"/>
    </bean>

    <!-- RedisDao -->
    <bean id="redisDao" class="com.ljh.dao.cache.RedisDao">
        <constructor-arg index="0" value="localhost"/>
        <constructor-arg index="1" value="6379"/>
    </bean>
</beans>
